*{
 font-family: 'Delicious Handrawn', cursiva;
 
  
}

.title {
    background-color: aquamarine;
    padding-left: 400px;
    font-size: calc(1.525rem + 3.3vw);
    font-size: 30px;
      }  


#container{
    background-color: #bd7f7f;
    width: 2000px;
    height: 500px;
    
}
